{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Flowbite CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.5.1/flowbite.min.css" rel="stylesheet">

    <head>
        <title>About me</title>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'src/output.css' %}">
        {% endcompress %}

    </head>
    <body>
        {% block content %}
            <h1 class="bg-green-50">Missing Content, hi!</h1>
        {% endblock content %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
</html>